<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Advocate a Business Category Flat Bootstrap Responsive Web Template | Blog :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Advocate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>	
		
<!-- //custom-theme files-->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //custom-theme files-->

<!-- font-awesome-icons -->
<link href="../static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->

<!-- googlefonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //googlefonts -->

</head>
<body>
<!-- banner -->
<div class="banner1">
	<div class="banner-layer1">
	<div class="container">
		<div class="banner-logo">
			<a href="/">
				<i class="fa fa-balance-scale" aria-hidden="true"></i>
				<h1>Advocate <span>Real Justice</span> </h1>
			</a>
			
		</div>
				</div>
				<div class="agileits_w3layouts_menu">
					<div class="shy-menu">
						<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a>
						<div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li><a href="/">Home</a></li>
									<li><a href="/about">About Us</a></li>
									<li><a href="/icons">Icons</a></li>
									<li><a href="/typography">Typography</a></li>
									<li class="active"><a href="/blog">Blog</a></li> 
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<div class="w3_agile_social_icons">
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="wthree-banner-info">
				<div class="container">
					<h2>Blog</h2>
				</div>
			</div>

		</div>
	</div>
<!-- //banner -->	

<!-- blog -->
	<div class="services">
		<div class="container">
			<div class="col-md-8 event-left w3-agile-event-left">
				<div class="event-left1 w3-agile-event-left1">
					<div class="col-xs-6 event-left1-left agile-event-left1-left">
						<a href="/single"><img src="../static/images/banner.jpg" alt=" " class="img-responsive" /></a>
						<div class="event-left1-left-pos agileits-w3layouts-event-left1-left-pos">
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>5 Tags</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>200 Likes</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Leo Paul</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 event-left1-right w3-agileits-event-left1-right">
						<h4>12th / April 2017</h4>
						<h5><a href="/single">consectetur adipiscing elit, sed do eiusmod</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-left1 w3-agile-event-left1">
					<div class="col-xs-6 event-left1-right event-left1-right-dummy wthree-event-left1-right">
						<h4>20th / April 2017</h4>
						<h5><a href="/single">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="col-xs-6 event-left1-left agileinfo-event-left1-left">
						<a href="/single"><img src="../static/images/1.jpg" alt=" " class="img-responsive" /></a>
						<div class="event-left1-left-pos agileits-event-left1-left-pos">
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>6 Tags</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>160 Likes</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Michael</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-left1 w3-agile-event-left1">
					<div class="col-xs-6 event-left1-left w3ls-event-left1-left">
						<a href="/single"><img src="../static/images/4.jpg" alt=" " class="img-responsive" /></a>
						<div class="event-left1-left-pos w3l-event-left1-left-pos">
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>7 Tags</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>341 Likes</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Richard</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 event-left1-right w3-event-left1-right">
						<h4>29th / April 2017</h4>
						<h5><a href="/single">Neque porro quisquam est, qui dolorem ipsum quia dolor</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-left1 w3-agile-event-left1">
					<div class="col-xs-6 event-left1-right event-left1-right-dummy w3layouts-event-left1-right">
						<h4>30th / April 2016</h4>
						<h5><a href="/single">Quis autem vel eum iure ea voluptate velit esse quam</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="col-xs-6 event-left1-left w3-agile-event-left1-left">
						<a href="/single"><img src="../static/images/5.jpg" alt=" " class="img-responsive" /></a>
						<div class="event-left1-left-pos agile-event-left1-left-pos">
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>9 Tags</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>432 Likes</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Thomas</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-left1 w3-agile-event-left1">
					<div class="col-xs-6 event-left1-left w3ls-event-left1-left">
						<a href="/single"><img src="../static/images/4.jpg" alt=" " class="img-responsive" /></a>
						<div class="event-left1-left-pos w3l-event-left1-left-pos">
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>7 Tags</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>341 Likes</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Richard</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 event-left1-right w3-event-left1-right">
						<h4>29th / April 2017</h4>
						<h5><a href="/single">Neque porro quisquam est, qui dolorem ipsum quia dolor</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<nav class="paging1 agileits-w3layouts-paging1">
				  <ul class="pagination paging w3-agileits-paging">
					<li>
					  <a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					  </a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
					  <a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
				  </ul>
				</nav>
			</div>
			<div class="col-md-4 event-right wthree-event-right">
				<div class="event-right1 agileinfo-event-right1">
					<div class="search1 agileits-search1">
						<form action="#" method="post">
							<input type="text" name="Search" placeholder="Search here..." required="">
							<input type="submit" value="Send">
						</form>
					</div>
					<div class="categories w3ls-categories">
						<h3>Categories</h3>
						<ul>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="#">At vero eos et accusamus iusto</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Sed ut perspiciatis unde omnis</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Accusantium doloremque lauda</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Vel illum qui dolorem fugiat quo</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Quis autem vel eum reprehenderit</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Neque porro quisquam est qui</a></li>
						</ul>
					</div>
					<div class="posts w3l-posts">
						<h3>Our Cases</h3>
						<div class="posts-grids w3-posts-grids">
							<div class="posts-grid w3-posts-grid">
								<div class="posts-grid-left w3-posts-grid-left">
									<a href="/single"><img src="../static/images/1.jpg" alt=" " class="img-responsive" /></a>
								</div>
								<div class="posts-grid-right w3-posts-grid-right">
									<h4><a href="/single">Sed ut perspiciatis unde omnis iste natus</a></h4>
									<ul class="wthree_blog_events_list">
										<li><i class="fa fa-calendar" aria-hidden="true"></i>28/4/2017</li>
										<li><i class="fa fa-user" aria-hidden="true"></i><a href="/single">Admin</a></li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="posts-grid w3-posts-grid">
								<div class="posts-grid-left w3-posts-grid-left">
									<a href="/single"><img src="../static/images/5.jpg" alt=" " class="img-responsive" /></a>
								</div>
								<div class="posts-grid-right w3-posts-grid-right">
									<h4><a href="#">Neque porro quisquam qui dolorem</a></h4>
									<ul class="wthree_blog_events_list">
										<li><i class="fa fa-calendar" aria-hidden="true"></i>12/5/2017</li>
										<li><i class="fa fa-user" aria-hidden="true"></i><a href="/single">Admin</a></li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="posts-grid w3-posts-grid">
								<div class="posts-grid-left w3-posts-grid-left">
									<a href="/single"><img src="../static/images/banner.jpg" alt=" " class="img-responsive" /></a>
								</div>
								<div class="posts-grid-right w3-posts-grid-right">
									<h4><a href="#">Nemo enim ipsam voluptatem quia</a></h4>
									<ul class="wthree_blog_events_list">
										<li><i class="fa fa-calendar" aria-hidden="true"></i>4/5/2017</li>
										<li><i class="fa fa-user" aria-hidden="true"></i><a href="/single">Admin</a></li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="tags tags1 w3layouts-tags">
						<h3>Recent Tags</h3>
						<ul>
							<li><a href="/single">Criminal</a></li>
							<li><a href="#">Lawyer</a></li>
							<li><a href="#">Defense</a></li>
							<li><a href="#">Law</a></li>
							<li><a href="#">Order</a></li>
							<li><a href="#">Justice</a></li>
							<li><a href="#">Rights</a></li>
							<li><a href="#">Divorce</a></li>
							<li><a href="#">Advice</a></li>
							<li><a href="#">legal</a></li>
							<li><a href="#">Court</a></li>
							<li><a href="#">Cases</a></li>
							<li><a href="#">Law & Order</a></li>
							<li><a href="#">Judgement</a></li>
							<li><a href="#">Power</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //blog -->	

<!-- footer -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 footer-grid address">
						<h3>Contact us</h3>
						<h4>Tokyo</h4>
						<ul>
							<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Aichi Central, Island, <span>Tokyo.</span></li>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +015 289 3441</li>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">contact@example.com</a></li>
							<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Mon to Fri : 10am to 6 pm</li>
						</ul>
					</div>
					<div class="col-md-2 footer-grid">
						<h3>Quick links</h3>
						<ul>
							<li> <a href="/about">About Us</a> </li>
							<li> <a href="/">Legal Services</a> </li>
							<li> <a href="/">Testimonials</a> </li>
							<li> <a href="/">Our Lawyers</a> </li>
							<li> <a href="/blog">Blog</a> </li>
							<li> <a href="/contact">Contact Us</a> </li>
						</ul>
					</div>
					
					<div class="col-md-3 agile-footer-grid">
						<h3>Twitter feed</h3>
						<ul class="w3agile_footer_grid_list">
							<li>Ut aut reiciendis voluptatibus <a href="#">example.com</a> alias, ut aut.
								<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
							<li>Itaque earum rerum hic tenetur <a href="#">example.com</a> ut aut.
							<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
						</ul>
					</div>
					<div class="col-md-4 agile-footer-grid">
						<h3>Subscribe us</h3>
						<p>Subscribe to our newsletter to get daily updates</p>
						<div class="subscribe-grid">
							<form action="#" method="post">
								<input type="email" placeholder="Subscribe" name="Subscribe" required="">
								<button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
							</form>
						</div>
						<div class="w3_agile_social_icons">
							<ul class="agileinfo_social_icons">
								<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agileinfo_pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- //footer -->

<!-- copyright -->
<div class="wthree_copy_right">
		<div class="banner-logo">
			<a href="/">
				<i class="fa fa-balance-scale" aria-hidden="true"></i>
				<h3>Advocate <span>Real Justice</span> </h3>
			</a>
		</div>
	<div class="container">
		<p>&copy; 2017 Advocate. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			
	</div>
</div>
<!-- //copyright -->

<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<!-- for bootstrap working -->
	<script src="../static/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
<!-- //js -->

<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->

<!-- here starts scrolling icon -->
<script src="../static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling script -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling script -->
<!-- //here ends scrolling icon -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->

</body>
</html>