{%extends 'user_layout.html'%}
{%block content%}
<BR><BR><BR><BR>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Update Profile</p>
                </div>
<form method="POST" enctype="multipart/form-data">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <input type="text" class="form-control" validation="required"name="name"placeholder="{{d.name}} *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"validation="required" maxlength=10 pattern="[0-9]{10}"name="contact"placeholder="Phone Number *" value="{{d.contact}}"/>
                            </div> -->
                            Profile photo
                            <div class="form-group">
                                <input type="file" class="form-control"validation="required" name="image"placeholder="Profile pic *" value="{{d.image}}"/>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" validation="required" class="form-control" name="username" placeholder="Email*" value="{{d.username}}"/>
                            </div>
                            <div class="form-group">
                                <input type="text" validation="required" class="form-control" name="password" placeholder=" Password *" value="{{d.password}}"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea validation="required" class="form-control" name="address" placeholder="Address*" value=""/>{{d.address}}</textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" validation="required" class="form-control" name="place" placeholder=" Place *" value="{{d.place}}"/>
                            </div>
                        </div> -->
                    </div>
                    <button type="submit" class="btnSubmit">Update</button>
                </div>
            </div>
        </div>
    </form>
        <style>
            .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
        </style>
<br><br><br><br>
{%endblock%}