<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- <div class="TN bzz aHS-YH" style="margin-left:0px"><div class="qj qr"></div><div class="aio UKr6le"><span class="nU false"><a href="https://meet.google.com/new?hs=180&amp;authuser=0" target="_top" class="J-Ke n0" title="Start a meeting" aria-label="Start a meeting" draggable="false">Start a meeting</a></span></div><div class="nL aif"></div></div> -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Advocate a Business Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Advocate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>	
		
<!-- //custom-theme files-->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //custom-theme files-->

<!-- font-awesome-icons -->
<link href="../static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->

<!-- googlefonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //googlefonts -->

</head>
<body>
<!-- banner -->
<div class="banner">
	<div class="banner-layer">
	<div class="container">
		<div class="banner-logo">
			<a href="/">
				<i class="fa fa-balance-scale" aria-hidden="true"></i>
				<h1>Advocate <span>Real Justice</span> </h1>
			</a>
		</div>
				</div>
				<div class="agileits_w3layouts_menu">
					<div class="shy-menu">
						<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a>
						<div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/about">About Us</a></li>
									<li><a href="/register">Register</a></li>
									<li><a href="/login">Login</a></li>
									<!-- <li><a href="/blog">Blog</a></li>  -->
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<div class="agile_banner_info">
				<div class="agile_banner_info1">
					<div id="typed-strings" class="agileits_w3layouts_strings">
						<p>A great advocate is for <i>Justice</i></p>
						<p>We <i>Fight</i> for Justice</p>
						<p><i>lawyers </i>advice are in stock</p>
						<p>We fight for <i>Civil Rights</i></p>
					</div>
					<span id="typed" style="white-space:pre;"></span>
				</div>
			</div>
			<div class="banner_agile_para">
				<!-- <p>Nulla viverra pharetra sem, eget pulvinar neque pharetra ac. lorem ipsum Vestibulum.</p> -->
			</div>
			<div class="w3_agile_social_icons">
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="thim-click-to-bottom">
				
					<a href="#services" class="scroll">
					<div class="rotate">
						<i class="fa  fa-chevron-down"></i>
					</div>
					</a>
		</div>
		</div>
	</div>
<!-- //banner -->	

<!--/services-->
<!-- <div id="services" class="services">
	<div class="container">
		<h3 class="tittle">Our legal Services</h3>
	<div class="legaltopgrids">
		<div class="col-md-6 grid1">
			<h3>An urge for legal land properties</h3>
			<div class="col-md-2 gridnumber">
				<span>1</span>
			</div>
			<div class="col-md-10 gridinfo">
				<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
					ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
					et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 grid1">
			<h3>A commitment to Excellence</h3>
			<div class="col-md-2 gridnumber">
				<span>2</span>
			</div>
			<div class="col-md-10 gridinfo">
				<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
					ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
					et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="legalbottomgrids">
		<div class="col-md-6 grid1">
			<h3>Business litigation and insurance</h3>
			<div class="col-md-2 gridnumber">
				<span>3</span>
			</div>
			<div class="col-md-10 gridinfo">
				<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
					ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
					et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 grid1 margin">
			<h3>A Passion for legal Justice</h3>
			<div class="col-md-2 gridnumber">
				<span>4</span>
			</div>
			<div class="col-md-10 gridinfo">
				<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
					ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
					et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>
</div> -->
<!--//services-->

<!-- our lawyers -->
<div class=" lawyers agileits-w3layouts-specials" id="lawyers">
	<div class="container">
		<h3 class="tittle">Our Lawyers</h3>
		{%for i in d%}
				<div class="special-grids">
					<div class="col-md-6 lawyer1 special-left l-grids">
						 <figure class="effect-bubba">
								<img src="../static/pics/{{i.image}}" alt=""/>
								<figcaption>
									<!-- <h4>Integrating technology to solve your problems</h4>												 -->
								</figcaption>			
						 </figure>
								<h4 class="name">{{i.type}}</h4>
					</div>
					{%endfor%}
					<!-- <div class="col-md-6 lawyer1 special-left l-grids">
						 <figure class="effect-bubba">
								<img src="../static/images/l6.jpg" alt=""/>
								<figcaption>
									<h4>Integrating technology to solve your problems</h4>	
								</figcaption>			
						 </figure>
								<h4 class="name">legal Advocate</h4>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="where-spl">
					<div class="col-md-6 lawyer1 special-left l-grids">
						 <figure class="effect-bubba">
								<img src="../static/images/l9.jpg" alt=""/>
								<figcaption>
									<h4>Integrating technology to solve your problems</h4>	
								</figcaption>			
						 </figure>
								<h4 class="name">legal Advocate</h4>
					</div>
					<div class="col-md-6 lawyer1 special-left l-right l-grids">
						 <figure class="effect-bubba">
								<img src="../static/images/l8.jpg" alt=""/>
								<figcaption>
									<h4>Integrating technology to solve your problems</h4>	
								</figcaption>			
						 </figure>
								<h4 class="name">legal Advocate</h4>
					</div> -->
					<div class="clearfix"></div>
				</div>
	</div>
</div>
<!-- //our lawyers -->

<!-- Specialization -->
<!-- <div class="home_ w3layouts">
 <div class="home_grids_w3">
		<h3 class="tittle">We specialize in different areas</h3>
  <div class="home_main">
	   <div class="col-md-6 col-sm-6 col-xs-6 img1 img-grid">
		   <div class="img_text_w3ls">
				<h4>we always follow Law and order.</h4>
				<span> </span>
				<p>lorem ipsum dolor</p>
			</div>
		</div>
		<div class="col-md-6 img2 col-sm-6 col-xs-6 img-grid">
		    <div class="img_text_w3ls">
				<h4>Economical and social rights.</h4>
				<span> </span>
				<p>lorem ipsum dolor</p>
			  </div>
		</div>
		<div class="clearfix"></div>
	</div>
  <div class="home_main">
	   <div class="col-md-6 col-sm-6 col-xs-6 img3 img-grid ">
		    <div class="img_text_w3ls">
				<h4>Equal rights for humans in a society.</h4>
				<span> </span>
				<p>lorem ipsum dolor</p>
			  </div>
		</div>
	  <div class="col-md-6 col-sm-6 col-xs-6 img4 img-grid">
		    <div class="img_text_w3ls">
				<h4>The best Criminal defense.</h4>
				<span> </span>
				<p>lorem ipsum dolor</p>
			</div>
	 </div>
	<div class="clearfix"></div>
  </div>
   <div class="home_main">
	   <div class="col-md-6 col-sm-6 col-xs-6 img-grid  img5">
		  <div class="img_text_w3ls">
				<h4>Divorce issues and unemployment</h4>
				<span> </span>
				<p>lorem ipsum dolor</p>
		  </div>
		 </div>
		<div class="col-md-6 col-sm-6 col-xs-6 img-grid img6">
		  <div class="img_text_w3ls">
				<h4>Commercial and corporate law</h4>
				<span> </span>
				<p>lorem ipsum dolor</p>
		  </div>
		 </div>
		<div class="clearfix"></div>
  </div>
</div>
</div> -->
<!-- //Specialization -->

<!--/reviews-->
	<!-- <div id="testimonials" class="testimonials">
		<div class="container">
		<h3 class="tittle">Testimonials</h3>
				<div class="test-monials"> -->
				<!--//screen-gallery-->
						<!-- <div class="sreen-gallery-cursual">
							
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                	<div class="test-review">
											<div class="img-agile">
												<img src="../static/images/team1.jpg" class="img-responsive" alt=""/>
											</div>
											<div class="textagile">
												<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
													ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
													et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
												 <h5>Linda Carl</h5>
											</div>
										</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
											<div class="img-agile">
												<img src="../static/images/team2.jpg" class="img-responsive" alt=""/>
											</div>
											<div class="textagile">
												<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
													ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
													et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
												<h5>Williams Allen</h5>
											</div>
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
											<div class="img-agile">
												<img src="../static/images/team3.jpg" class="img-responsive" alt=""/>
											</div>
											<div class="textagile">
												<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
													ut labore et doloremagna aliquyamerat, sed diam voluptua. At vero eos et accusam
													et justo duo dolores et ea rebum stetclita kasd gubergren sed diam voluptua.</p>
												<h5>Ashley Rose</h5>
											</div>
					                	</div>
					                </div>
				              </div> -->
						<!--//screen-gallery-->
					<!-- </div>
				</div>
			</div>
		</div> -->
<!--//reviews-->

<!-- footer top -->
<!-- <div class="phone1">
	<div class="border">
		<p>Any legal problem?</p>
		<h3>Call Us : +0(21) 3144 2367</h3>
		<p>We are ready to fight for our clients</p>
	</div>
	<div class="phone">
		<i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i>
	</div>
</div> -->
<!-- //footer top -->

<!-- footer -->
	<!-- <div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 footer-grid address"> -->
						<!-- <h3>Contact us</h3>
						<h4>Tokyo</h4> -->
						<!-- <ul> -->
							<!-- <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Aichi Central, Island, <span>Tokyo.</span></li>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +015 289 3441</li>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">contact@example.com</a></li>
							<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Mon to Fri : 10am to 6 pm</li> -->
						<!-- </ul> -->
					<!-- </div> -->
					<!-- <div class="col-md-2 footer-grid"> -->
						<!-- <h3>Quick links</h3> -->
						<!-- <ul> -->
							<!-- <li> <a href="/about">About Us</a> </li>
							<li> <a href="#services" class="scroll">Legal Services</a> </li>
							<li> <a href="#testimonials" class="scroll">Testimonials</a> </li>
							<li> <a href="#lawyers" class="scroll">Our Lawyers</a> </li>
							<li> <a href="/blog">Blog</a> </li> -->
							<!-- <li> <a href="/contact">Contact Us</a> </li> -->
						<!-- </ul>
					</div> -->
					
					<!-- <div class="col-md-3 agile-footer-grid">
						<h3>Twitter feed</h3>
						<ul class="w3agile_footer_grid_list">
							<li>Ut aut reiciendis voluptatibus <a href="#">example.com</a> alias, ut aut.
								<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
							<li>Itaque earum rerum hic tenetur <a href="#">example.com</a> ut aut.
							<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
						</ul>
					</div>
					<div class="col-md-4 agile-footer-grid">
						<h3>Subscribe us</h3>
						<p>Subscribe to our newsletter to get daily updates</p>
						<div class="subscribe-grid">
							<form action="#" method="post">
								<input type="email" placeholder="Subscribe" name="Subscribe" required="">
								<button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
							</form>
						</div>
						<div class="w3_agile_social_icons">
							<ul class="agileinfo_social_icons">
								<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agileinfo_pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div> -->
<!-- //footer -->

<!-- copyright -->
<div class="wthree_copy_right">
		<div class="banner-logo">
			<a href="/">
				<i class="fa fa-balance-scale" aria-hidden="true"></i>
				<h2>Advocate <span>Real Justice</span> </h2>
			</a>
		</div>
	<div class="container">
		<p>&copy; 2017 Advocate. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			
	</div>
</div>
<!-- //copyright -->

<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<!-- for bootstrap working -->
	<script src="../static/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
<!-- //js -->

<!-- banner-type-text -->
	<script src="../static/js/typed.js" type="text/javascript"></script>
    <script>
		$(function(){

			$("#typed").typed({
				// strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
				stringsElement: $('#typed-strings'),
				typeSpeed: 30,
				backDelay: 500,
				loop: false,
				contentType: 'html', // or text
				// defaults to false for infinite loop
				loopCount: false,
				callback: function(){ foo(); },
				resetCallback: function() { newTyped(); }
			});

			$(".reset").click(function(){
				$("#typed").typed('reset');
			});

		});

		function newTyped(){ /* A new typed object */ }

		function foo(){ console.log("Callback"); }
    </script>
<!-- //banner-type-text -->

<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->

<!-- testimonials required-js-files-->
							<link href="../static/css/owl.carousel.css" rel="stylesheet">
							    <script src="../static/js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
<!--// testimonials required-js-files-->

<!-- here starts scrolling icon -->
<script src="../static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling script -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling script -->
<!-- //here ends scrolling icon -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->

</body>
</html>